@import "reset";
@import "mixin";
body {
  background: antiquewhite;
}

.card {
  padding: 10px;
  list-style-type: none;
  text-align: center;
  background: gray;
  color: white;
  margin: 10px;
  line-height: 300px;
  border-radius: 10px;
  border: 1px solid gainsboro;
  box-shadow: 4px 4px 5px 1px grey;
  cursor: pointer;
  &--opened {
    color: gray;
    background: white;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.block {
  &__wrapper {
    padding-left: 60px;
  }
  &__sidebar {
    border-right: 1px solid $gray;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    height: 100%;
    width: 60px;

    &.active {
      width: 300px;
    }
  }
  &__play-ground {
  }
}
